<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="CGI"
           path="*.cgi" verb="*"
           modules="CgiModule" scriptProcessor='D:\Program Files (x86)\Git\usr\bin\perl.exe "%s" %s'
           resourceType="Unspecified" />
    </handlers>
    <cgi createProcessAsUser="false" />
    <security>
      <ipSecurity allowUnlisted="false" denyAction="NotFound">
        <add allowed="true" ipAddress="202.45.12.163" />
        <add allowed="true" ipAddress="172.16.0.0" subnetMask="255.255.255.240" />
      </ipSecurity>
    </security>
  </system.webServer>
</configuration>